html, body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

#timer-wrap {
  width: calc(100%-250px);
  margin: auto;
}

#time {
  margin: auto;
  height: 100vh;
  text-align: center;
  font-weight: bold;
  color: #666;
  overflow: auto;
}

#time-h1 {
  font-size: 5em;
  margin-bottom: 10px;
}

#start-stop, #work-break {
  display: block;
  clear: both;
  margin-bottom: 40px;
}

a#start, a#stop {
  padding: 12px 50px;
  border-radius: 4px;
  background: #666;
  font-size: 2.3em;
  color: #fff;
  /*box-shadow: 0 2px 15px #555;*/
  cursor: pointer;
}

#work-break a {
  padding: 10px 25px;
  border-radius: 4px;
  font-size: 1.7em;
  color: #fff;
  background: #666;
  /*box-shadow: 0 2px 15px #555;*/
  cursor: pointer;
}

#work-break a:last-child {
    background: #6c7;
    margin-left: 10px;
}

a#start:active, a#stop:active {
  /*box-shadow: 0 2px 5px #555;*/
  transform: translateY(2px);
}

#current-task h4 {
  margin-bottom: 5px;
}

#current-task h2 {
  margin: 5px 0 10px;
  color: #6c8;
}

.hide {
  display: none;
}

#sidebar {
  display: inline-block;
  float: left;
  width: 250px;
  background: #dde;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #666;
  overflow: auto;
}

#form-wrap {
  padding: 0 15px;
}

#sidebar h2 {
  margin-bottom: 13px;
}

#textarea-wrap {
  width: 100%;
}

#textarea-wrap input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
  padding: 5px;
}

#add-task a {
  text-align: right;
  float:right;
  padding: 6px 18px;
  background: #666;
  color: #dde;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
}

#add-task a:active {
  transform: translateY(2px);
}


#task-wrap {
  margin-top: 15px;
  overflow: auto;
  display: block;
  clear: both;
}

.task {
  display: block;
  clear: both;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.task:nth-child(odd) {
    background: #666;
    color: #dde;
}

.task:first-child {
    margin-top: 15px;
}

.task-name {
  display: inline-block;
  float: left;
  padding: 8px 15px;
  box-sizing: border-box;
  width: calc(100% - 55px);
  overflow: auto;
  transition: 0.3s margin-left, 0.3s width;
}

.task-name a {
  cursor: pointer;
  transition: 0.3s color;
}

.task.selected {
  background: #6c8;
}

.task.selected .task-name {
  margin-left: 15px;
  width: calc(100% - 70px);
}

.task.selected .task-name a.task-title-link {
  color: #444;
}

.delete-div {
  display: inline-block;
  float: right;
  width: 25px;
  overflow: auto;
  padding: 8px 15px;
  height: 100%;
}

/*.task:nth-child(odd) .delete-div {
  background: #dde;
}

.task:nth-child(even) .delete-div {
  background: #666;
}*/

.delete {
  text-align: right;
  float: right;
  cursor: pointer;
  padding: 0 5px;
  border-radius: 5px;
  border: 2px solid #c55;
  color: #c55;
  background: #fff;
  margin-left: 10px;
  font-weight: bold;
}
