html, body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

#timer-wrap {
  width: calc(100%-250px);
  margin: auto;
}

#time {
  margin: auto;
  height: 100vh;
  text-align: center;
  font-weight: bold;
  color: #666;
  overflow: auto;
}

#time-h1 {
  font-size: 5em;
  margin-bottom: 10px;
}

#start-stop, #work-break {
  display: block;
  clear: both;
  margin-bottom: 40px;
}

a#start, a#stop {
  padding: 12px 50px;
  border-radius: 4px;
  background: #666;
  font-size: 2.3em;
  color: #fff;
  /*box-shadow: 0 2px 15px #555;*/
  cursor: pointer;
}

#work-break a {
  padding: 10px 25px;
  border-radius: 4px;
  font-size: 1.7em;
  color: #fff;
  background: #666;
  /*box-shadow: 0 2px 15px #555;*/
  cursor: pointer;
}

#work-break a:last-child {
    background: #6c7;
    margin-left: 10px;
}

a#start:active, a#stop:active {
  /*box-shadow: 0 2px 5px #555;*/
  transform: translateY(2px);
}

.hide {
  display: none;
}

#sidebar {
  display: inline-block;
  float: left;
  width: 250px;
  background: #dde;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #666;
  overflow: auto;
}

#form-wrap {
  padding: 0 15px;
}

#sidebar h2 {
  margin-bottom: 13px;
}

#textarea-wrap {
  width: 100%;
}

#textarea-wrap input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
  padding: 5px;
}

#add-task a {
  text-align: right;
  float:right;
  padding: 6px 18px;
  background: #666;
  color: #dde;
  font-weight: bold;
  border-radius: 2px;
  cursor: default;
}

#task-wrap {
  margin-top: 15px;
  overflow: auto;
  display: block;
  clear: both;
}

.task {
  display: block;
  clear: both;
  padding: 8px 15px;
  width: 100%;
  box-sizing: border-box;
}

.task:nth-child(odd) {
    background: #666;
    color: #dde;
}

.task:first-child {
    margin-top: 15px;
}
