<div id="sidebar">
  <div id="form-wrap">
    <h2>Task history</h2>
    <form id="add-task">
      <div id="textarea-wrap">
        <input id="new-task-input" placeholder="New todo item" rows="2"><br>
        <a ng-click="landing.Tasks.Tasks.newTask();" id="submit-task">Submit</a>
      </div>
    </form>
  </div>

  <div id="task-wrap">
    <div class="task" ng-repeat="task in landing.Tasks.all | orderBy: '-id'" ng-class="{'selected': task.value == landing.Tasks.Tasks.currentTask.value, '': task.value !== landing.Tasks.Tasks.currentTask.value}">
      <div class="task-name"><a class="task-title-link" ng-click="landing.Tasks.Tasks.setTask(task);">{{ task.value }}</a></div>
      <div class="delete-div"><a ng-click="landing.Tasks.Tasks.deleteTask(task.value);" class="delete">‒</a></div>
    </div>
  </div>
</div>
